<h2>List of Employees</h2><br>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Fullname</th>
      <th>Designation</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.fullname %></td>
      <td><%= user.designation %></td>
      <td><%= user.department %></td>
    </tr>
    <% end %>
  </tbody>

</table>
